apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "welldata.fhirServer.name" . }}
  labels:
    {{- include "welldata.fhirServer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.fhirServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "welldata.fhirServer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "welldata.fhirServer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "welldata.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: fhir-server
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.fhirServer.image.repository }}:{{ .Values.fhirServer.image.tag }}"
          imagePullPolicy: {{ .Values.fhirServer.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: JAVA_OPTS
              value: {{ .Values.fhirServer.javaOpts | quote }}
            - name: WELLDATA_IG_URL
              value: {{ .Values.fhirServer.igPackageUrl | quote }}
          livenessProbe:
            httpGet:
              path: /fhir/metadata
              port: http
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /fhir/metadata
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.fhirServer.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
